
.body-content {
    padding: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input[name=message] {
    width: 40%;
}

.message_list th,td {
    text-align: left;
    padding-right: 15px;
}